.video-thumbnail {
    @include aspect(9 / 16);

    width: 200px;
    border: 3px solid map-get($colors, white);
    @include media-breakpoint-down(tablet) {
        width: 150px;
        border-width: 2px;
    }

    > * {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
    }
}
