.video-setting {
    &__main {
        position: absolute;
        top: -$padding * 4;
        right: 0;
        color: map-get($colors, white);
        opacity: 0;
        transition: opacity .3s;
        transform: translate(0, -100%);
        pointer-events: none;
        @include media-breakpoint-down(tablet) {
            top: -$padding * 3;
        }

        &.-open {
            opacity: 1;
            pointer-events: auto;

            &::before {
                transition-delay: 0s;
            }
        }

        > * {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            overflow: hidden;
            width: 300px;
            @include media-breakpoint-down(tablet) {
                width: 250px;
            }
        }

        &::before {
            @include size(100%, calc(var(--height) * 1px));

            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(map-get($colors, black), 0.8);
            z-index: -1;
            transform-origin: bottom;
            transition: transform .3s;
            transition-delay: 0.3s;
            transform: scaleY(calc(var(--max-height) / var(--height)));
        }
    }

    &__content {
        @include size(100%);
        @include typo('list', 1);

        overflow: auto;
        opacity: 0;
        flex: 0 0 100%;
        transition: opacity .3s, transform .4s;
        transition-delay: 0.3s;
        @include media-breakpoint-down(desktop) {
            max-height: 250px;
        }
        @include media-breakpoint-down(tablet) {
            max-height: 125px;
        }

        &:first-child {
            opacity: 1;
        }

        &:last-child {
            transform: translate(100%, 0);
        }

        .video-setting__main.-open & {
            transition-delay: 0s;
        }

        .video-setting__main.-active & {
            &:first-child {
                transform: translate(-100%, 0);
            }

            &:last-child {
                opacity: 1;
                transform: translate(-100%, 0);
            }
        }
    }

    &__item {
        &-display {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-option {
            padding: $padding * 2;
            transition: color .3s, background-color .3s;
            cursor: pointer;
            @include media-breakpoint-down(tablet) {
                padding: $padding;
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: map-get($colors, grey);
                    background-color: rgba(map-get($colors, white), 0.2);
                }
            }
        }
    }
}
