.video-volume {
    display: flex;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .video-volume {
                &__range {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    &__range {
        margin-left: $padding;
        width: 100px;
        opacity: 0;
        transition: opacity .3s;
        @include media-breakpoint-down(tablet) {
            width: 50px;
        }
    }
}
