.video-media {
    @include size(100%);

    position: relative;
    display: flex;
    align-items: center;

    &__main {
        @include size(100%);

        max-width: 100%;
        max-height: 100%;
    }

    &__controls {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .3s;

        &.-active {
            opacity: 1;
        }

        .icon {
            @include size(1.5rem);
        }

        @media (hover: hover) and (pointer: fine) {
            .video-media:hover & {
                opacity: 1;
            }
        }

        &-main {
            @include size(100%);

            display: flex;
            justify-content: flex-end;
            padding: $padding $padding * 2;
            flex-direction: column;
        }

        &-mask {
            @include size(100%);

            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
        }

        &-list {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-items {
            display: flex;
            align-items: center;

            > * {
                & ~ * {
                    margin-left: $padding * 3;
                }
            }
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $padding;
            cursor: pointer;
        }
    }

    &__setting-mask {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;

        &.-active {
            pointer-events: auto;
        }
    }

    &__time {
        margin-left: $padding;
        color: map-get($colors, white);
    }
}
