:root {
    --vh: 1vh;
}

::selection {
    color: map-get($colors, white);
    background: map-get($colors, primary);
}

@include get-container();
@include grid-system();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
button,
input,
textarea {
    font-family: map-get($font-family, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    @include typo("body", 1);

    overflow: hidden;
    min-width: 320px;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

#root {
    overflow-y: auto;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
}

input,
textarea {
    @include typo("body", 1);

    border: none;
    appearance: none;
}

pre {
    white-space: pre-line;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

button {
    @include typo("button", 1);

    color: inherit;
    background-color: transparent;
}

input[type="range"] {
    position: relative;
    height: 25px;
    background-color: transparent;
    -webkit-appearance: none;
    cursor: pointer;
    pointer-events: auto;

    &::-webkit-slider-runnable-track {
        @include size(100%, 3px);

        background: linear-gradient(to right, map-get($colors, white) var(--progress), rgba(map-get($colors, white), 0.25) var(--progress));
    }

    &::-webkit-slider-thumb {
        @include size(16px);

        position: relative;
        top: 50%;
        background: map-get($colors, white);
        border-radius: 50%;
        -webkit-appearance: none;
        transform: translate(0, -50%);
        @include media-breakpoint-down(tablet) {
            @include size(12px);
        }
    }
}
